@model Decksplain.Features.Game.Printable.GamePrintable
@{
    Layout = "~/Features/Layout/Layout.cshtml";
    Model.Layout.IsPrint = true;
}

<div class="card-container">
    @for (int i = 0; i < 6; i++)
    {
        @await Html.PartialAsync("~/Features/Card/CardFront.cshtml", Model.CardDto)
    }
</div>
<div class="page-break"></div>
<div class="card-container">
    @for (int i = 0; i < 6; i++)
    {
        @await Html.PartialAsync("~/Features/Card/CardBack.cshtml", Model.CardDto)
    }
</div>
<div class="page-break"></div>
