---
layout: default
isPrint: true
---
{% assign chunk_size = 6 %}
{% assign chunk_size_minus_1 = 5 %}
    {% assign number_of_groups = site.games.size | divided_by: chunk_size %}
    {% for group_number in (0..number_of_groups) %}
        <div class="card-container">
            {% for i in (0..chunk_size_minus_1) %}
                {% assign group_add = group_number | times: chunk_size %}
                {% assign added = i | plus: group_add %}
                {% assign game = site.games[added] %}
                {% unless game %}
                    {% break %}
                {% endunless %}
                {% include card.html game=game print_front=true %}
            {% endfor %}
        </div>
        <div class="page-break"></div>
        <div class="card-container">
            {% for i in (0..chunk_size_minus_1) %}
                {% assign group_add = group_number | times: chunk_size %}
                {% assign added = i | plus: group_add %}
                {% assign game = site.games[added] %}
                {% unless game %}
                    {% break %}
                {% endunless %}
                {% include card.html game=game print_back=true %}
            {% endfor %}
        </div>
    {% endfor %}
</div>