@using Decksplain.Features.Card
@model Decksplain.Features.Index.Index
@{
    Layout = "~/Features/Page/Page.cshtml";
}
<section class="paragraph-centered">
    <p>Concise rule summaries for card decks, each game is designed to fit on a single card. Ideal for new players following along while an experienced player explains the rules in detail. Simple, clear, and always on hand.</p>
</section>
<section class="compact-card-container">
    @foreach (CardDto game in Model.Cards)
    {
        @await Html.PartialAsync("~/Pages/Shared/CompactCard.cshtml", game)
    }
</section>
<section class="paragraph-centered">
    <a href="@(Url.Action("Index", "Games") ?? throw new Exception("Cannot get games page"))" class="button">View all games</a>
</section>
