@{
    Layout = "_Layout";
}
<header class="page-header-container">
    <div class="page-header page-container">
        <a class="logo-container" href="/">
            <img class="logo" src="~/images/logo.svg" alt="Logo"/>
            <h1>Decksplain</h1>
        </a>
        <nav>
            <a href="https://github.com/decksplain/decksplain.github.io">GitHub</a>
            <button class="button" id="enable-offline">Enable offline</button>
        </nav>
    </div>
</header>
<main class="page-main">
    <div class="page-container">
        @RenderBody()
    </div>
</main>
