{% assign parts = include.game.content | split: '<!--split-->' %}
<section class="card">
    <header>
        <a href="{{ site.url }}{{ site.baseurl }}{{ include.game.url }}">
            <h1>{{ include.game.title }}</h1>
        </a>
        <div class="card-info">
            <p>👥 {{ include.game.players }} players</p>
            <p>⏳ {{ include.game.round-time }}</p>
        </div>
    </header>
    {% assign qr_url = site.url | append: site.baseurl | append: include.game.url %}
    {% qr qr_url width:5rem; %}
    {{ parts[0] | markdownify }}
</section>
<section class="card">
    {{ parts[1] | markdownify }}
</section>
