@import "mixins";
@import "normalize";

:root {
    --scale-up: 2.66;
}

* {
    font-size: calc(6px * var(--scale-up));

    @media print {
        font-size: 6px;
    }
}

body {
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
}

ul, ol {
    padding-left: 1rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

table {
    width: 100%;
}

th, td {
    padding: 0.5rem;
}

@import "components/card";
