@import "mixins";
@import "normalize";

@page {
    size: A4 landscape;
}

:root {
    --scale-up: 2.66;
    --text-margin: 0.3rem;
}

html {
    box-sizing: border-box;
    font-size: calc(8px * var(--scale-up));

    @include print {
        font-size: 8px;
    }

    &.print {
        font-size: 8px;
    }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Georgia, serif;


    .print & {
        width: 21cm;
        height: 29.7cm;
        margin: auto;
    }
}

h1 {
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: var(--text-margin);
}

p {
    margin: var(--text-margin) 0;
    font-size: 1rem;
}

ul, ol {
    padding-left: 1rem;

    &:not(ul ul) {
        margin: var(--text-margin) 0;
    }
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

table {
    width: 100%;
}

th, td {
    padding: 0.3rem;
}

@import "components/card";
@import "components/page";
