@using Decksplain.Features.Card
@model Decksplain.Features.Games.Printable.GamesPrintable
@{
    Layout = "~/Features/Layout/Layout.cshtml";
}
@foreach (CardDto[] gamesChunk in Model.Cards.Chunk(6))
{
    <div class="card-container">
        @foreach (CardDto game in gamesChunk)
        {
            @await Html.PartialAsync("~/Features/Card/CardFront.cshtml", game)
        }
    </div>
    <div class="page-break"></div>
}
@foreach (CardDto[] gamesChunk in Model.Cards.Chunk(6))
{
    <div class="card-container">
        @foreach (CardDto game in gamesChunk)
        {
            @await Html.PartialAsync("~/Features/Card/CardBack.cshtml", game)
        }
    </div>
    <div class="page-break"></div>
}
