@page "/games/{title}"
@model GameModel
@{
    Layout = "Shared/_Page";
}
<div class="card-container">
    @await Html.PartialAsync("~/Pages/Shared/CardFront.cshtml", Model.CardDto)
    @await Html.PartialAsync("~/Pages/Shared/CardBack.cshtml", Model.CardDto)
</div>
