@page
@using Decksplain.Features.Card
@model PrintableModel
@{
    Layout = "Shared/_Layout";
    Model.Layout.IsPrint = true;
}
@foreach (CardDto[] gamesChunk in Model.Cards.Chunk(6))
{
    <div class="card-container">
        @foreach (CardDto game in gamesChunk)
        {
            @await Html.PartialAsync("~/Pages/Shared/CardFront.cshtml", game)
        }
    </div>
    <div class="page-break"></div>
}
@foreach (CardDto[] gamesChunk in Model.Cards.Chunk(6))
{
    <div class="card-container">
        @foreach (CardDto game in gamesChunk)
        {
            @await Html.PartialAsync("~/Pages/Shared/CardBack.cshtml", game)
        }
    </div>
    <div class="page-break"></div>
}
