.button {
    display: inline-block;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    color: var(--colour-secondary);
    text-decoration: none;
    background-color: var(--colour-primary);
    
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
