.card-container {
    display: flex;
    flex-wrap: wrap;

    @include print {
        justify-content: center;
    }
}

.card {
    position: relative;
    // min-width: calc(2.5in * var(--scale-up));
    width: 100%;
    min-height: calc(3.5in * var(--scale-up));
    border: 1px solid #333;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    overflow: hidden;

    @include print {
        width: 2.5in;
        min-height: auto;
        height: 3.5in;
        margin: 1rem;
    }

    @include tablet {
        width: calc(2.5in * var(--scale-up));
        height: calc(3.5in * var(--scale-up));
    }

    @include desktop {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    header {
        display: flex;
        float:left;
        width: calc(100% - 6em);
        border-bottom: 1px solid black;
        margin-bottom: var(--text-margin);
        
        a {
            color: black;
            text-decoration: none;
        }

        .card-info {
            margin-left: auto;

            p {
                margin: 0;
            }
        }
    }

    .qr-code {
        width: 5rem;
        float: right;
        margin-bottom: 1rem;
    }
}
