.page-container {
    max-width: calc(1300px + 1rem);
    margin: auto;
    padding: 0 1rem;

    @include desktop {
        padding: 0;
    }
}

// .page-header-container {
// }

.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

    a {
        color: var(--colour-primary);
        text-decoration: none;
    }

    h1 {
        margin: 0;
    }

    nav {
        align-self: center;
    }
}

// .page-main {
// }

.paragraph-centered {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include desktop {
        padding-left: 10%;
        padding-right: 10%;
    }
}
