---
---
<!DOCTYPE html>
<html lang="en" class="{% if page.isPrint %}print{% endif %}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Decksplain</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
  <link rel="icon" href="{% link favicon.ico %}" type="image/x-icon">
  <link rel="icon" href="{% link /assets/images/logo.svg %}" media="(prefers-color-scheme: light)" type="image/svg+xml">
  <link rel="icon" href="{% link /assets/images/logo-light.svg %}" media="(prefers-color-scheme: dark)" type="image/svg+xml">
</head>
<body>
    {{ content }}
</body>
</html>