---
layout: default
---
<header class="page-header-container">
  <div class="page-header page-container">
    <a class="logo-container" href="{{ site.baseurl }}/">
      <img class="logo" src="{{ site.baseurl }}/assets/images/logo.svg"/>
      <h1>Decksplain</h1>
    </a>
    <nav>
      <a href="{% link _pages/games/printable.html %}">Printable page</a>
      <a href="https://github.com/harvzor/card-game-rules">GitHub</a>
    </nav>
  </div>
</header>
<main class="page-main">
  <div class="page-container">
    {{ content }}
  </div>
</main>