@using Decksplain.Extensions
@model Decksplain.Features.Game.Game
@{
    Layout = "~/Features/Page/Page.cshtml";
}
<section class="paragraph-centered">
    <p>@Model.CardDto.Description</p>
</section>
<div class="card-container">
    @await Html.PartialAsync("~/Features/Card/CardFront.cshtml", Model.CardDto)
    @await Html.PartialAsync("~/Features/Card/CardBack.cshtml", Model.CardDto)
</div>
<section class="paragraph-centered">
    <a href="@(Url.Action("Index", "GamePrintable", new { title = Model.CardDto.Title.Slugify() }) ?? throw new Exception("Cannot get printable games page"))" class="button">🖨️ Printable page</a>
</section>
